@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}


.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    z-index: 10;
    background-color: rgba(13, 13, 180, 0.815);
    color: #fff;
    height: 70px;
}

.menu__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu__links{
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu__item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover{
    background-color: #181818;
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link{
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu__link:hover{
    background-color: #181818;
}


.menu__arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu__nesting{
    list-style: none;
    transition:clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #181818;
    -webkit-transition:clip-path .3s;
    -moz-transition:clip-path .3s;
    -ms-transition:clip-path .3s;
    -o-transition:clip-path .3s;
}

.menu__link--inside{
    padding: 30px 100px 30px 20px;
}  

.menu__link--inside:hover{
    background-color: rgba(13, 13, 180, 0.404);
}

.menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img{
    display: block;
    width: 36px;
}

@media (max-width:800px){
    .menu__hamburguer{
        display: flex;
    }

    .menu__item{
        --clip:0;
        overflow:hidden ;
    }

    .menu__item--active{
        --transform: rotate(0);
        --background: #181818;
    }

    .menu__item--show{
        background-color: var(--background);
    }


    .menu__links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #181818;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu__links--show{
        transform: unset;
        width: 100%;
    }

    .menu__link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu__arrow{
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu__link--inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
}






/* FOOTER */

.footer{
    background-color: rgba(13, 13, 180, 0.815);
    color: #181818;
    display: flex;
    margin-top: 70px;
    padding: 70px;
    justify-content: center;
}

.footer h1{
    margin-top: 50px;
}

.links{
    margin-left: 120px;
}


.links li{
    display: flex;
    margin-left: 50px;
    list-style: none;
}



.links a{
    color: black;
    flex-direction: column;
    padding: 10px;
    list-style: none;
    text-decoration: none;
}




/* FOOTER COL */


.footer .col{
    margin-left: 120px;
    display: flex;
    flex-direction: column;
}

.footer .col a {
    color: black;
    padding: 10px;
    list-style: none;
    text-decoration: none;
    margin-left: 60px;
}

.footer .col h4{
    color: black;
    padding: 10px;
}



.footer .links a:hover{
    color: white;
}

.footer .col a:hover{
    color: white;
}